.B { 
    background-image: url(./images/img\ 1.jpeg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.B h1  {
    font-size: 80px;
}
.B button {
    color: white;
    background-color: orangered;
    border: none;
    padding: 15px;
}
    a {   
    list-style-type: none;
    text-decoration: none;
    color: black;
}
 ul { 
    text-decoration: none;
    display: flex;
    list-style-type: none;
    justify-content: space-around; 
}
.logo img { 
    width: 15%;
}
 .A h1 {  
    font-size: 20px;
} 
  .nav-item a {
    color: black !important;
  } 
.B {
    padding: 60px 0px;
}
.C {
    padding: 60px 0px;
}
 .fit  i {   
    padding: 10px;
}
a {
    font-weight: bold !important;
}
.D img {
    width: 117%;
    height: 486px;
    margin-top: -60px;
    margin-left: -71px;
}
.E { 
    background-color: paleturquoise;
    padding: 60px 0px;
     margin-left: -45px;
    margin-right: -70px; 
    margin-top: -60px;
}
.E h1 {
    margin-left: 102px;
}
.E p {
    margin-left: 62px;
    margin-right: 71px; 
    text-align: justify;
} 
.E button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 8px;
    margin-left: 60px;
}
 .G button { 
    background-color: black;
    color: white;
}
.G h1 {
    margin-top: -34px;
}
.H {
    background-color: blanchedalmond;
    margin-right: -69px;
    padding: 10px 37px;
    margin-left: -45px; 
    margin-top: -60px;
}
.H h4 {
    margin-left: 48px;
    margin-top: 16px;
}
.H i { 
    background-color: white;
    padding: 10px;
    border-radius: 53px;
    margin-left: 65px; 
    padding-top: 8px;
}
.section { 
    position: relative;
    }
.k img {
    position: absolute;
    margin-top: -295px;
    width: 23%;
    height: 77%;
    margin-left: 711px;
}
 .Mal { 
    background-color: gray;
     margin-left: -71px; 
    color: white;
 }
.I h1 {
    margin-left: 42px;
 }
.J h4 {
    margin-left: 40px;
}
.J p {
    margin-left: 40px;
    text-align: justify;
    font-size: 14px;
    margin-right: 48px;
}
.watch img {
    margin-left: 621px; 
    margin-top: -75px;
    margin-bottom: -101px;
    height: 205px;
    width: 127px;
}
.watch h1 {
    text-align: center;
    margin-left: -496px;
    margin-bottom: -80px;
    margin-top: -47px;
}
.watch {
    background-color: orangered;
    margin-top: 51px;
    padding: 60px 0px;
}
.phone {
    position: relative;
}
.s img {
    position: absolute;
    margin-top: 162px;
    width: 24%;
    height: 60%;
    margin-left: 71px;
}
.T h1 {
    margin-top: -51px;
    margin-left: 60px;
}
.T {
    background-color: grey;
    margin-left: -43px; 
    padding: 60px 0px;
    margin-top: 47px;
    margin-right: -69px;
    color: white;
}
.T h4 {
    margin-left: 64px; 
    margin-top: 20px;
}
.T p {
    margin-left: 67px; 
}
.At {
    background-color: orangered;
    margin-left: -20px;
    margin-right: -68px; 
    color: white;
    margin-top: -62px;
    padding: 60px 0px;
}
.At h1 {
    text-align: center;
    margin-top: -2px;
    padding: 49px;
}
.At h6 {
    text-align: center;
    font-size: 21px;
    margin-top: -41px;
}
.At p {
    text-align: justify;
    margin-left: 215px;
    font-size: 12px;
    margin-right: 222px; 
    margin-bottom: 48px;
}
.At button {
    margin-left: 263px; 
    background-color: black;
    color: white;
}
.Fit {
    padding: 60px 0px;
}
.All1 img {
    margin-top: -63px;
}
.All2 img {
    margin-top: -63px;
}
.All3 img {
    margin-top: -20px;
}
.All4 img {
    margin-top: -20px;
}
.Thanks {
    text-align: center;
    background-image: url(./images/img\ 1.jpeg);
    color: white;
    margin-bottom: 40px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    margin-top: -72px;
    margin-left: -17px; 
 } 
 .Thanks {
    padding: 60px 0px;
}
.Thanks p {
    margin-top: 38px;
    margin-left: 88px; 
    text-align: center;
    font-size: 16px;
}
.last {
    text-align: center;
    background-color: gray;
    margin-left: -36px; 
    margin-top: 19px;
    color: white;
}
input[type="text"] {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    margin-left: 26px;
    width: 400px;
}
input[type="content"] {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    margin-left: 24px;
    width: 370px;
    padding-bottom: 47px;
}
.last h6 {
    font-weight: normal;
    padding: -6px;
}
.last p {
    padding: -8px;
    margin-bottom: 7px;
}
.icon {
    display: flex;
}
.iconbox i {
    background-color: orangered;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.iconbox {
    margin-right: 20px;
    margin-top: 30px;
}
.icon p {
    margin-top: 18px;
}
button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px;
    margin-left: 9px;
}
@media only screen and (min-width:280px) and (max-width:480px)
{
    .B h1 {
        font-size: 19px;
        margin-left: 13px;
        text-align: center;
    }
    .logo img {
        width: 25%;
        margin-left: -4px;
        margin-right: -14px;
    }
    .B {
        background-image: url(./images/img\ 1.jpeg);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 477px;
    }
    .B p {
        margin-top: 23px;
        font-size: 14px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 18px;
    }
    .B button {
        color: white;
        background-color: orangered;
        border: none;
        padding: 4px;
        margin-left: 171px; 
        margin-top: 15px;
    }
    .D img {
        width: 209%;
        height: 431px;
        margin-top: -60px;
    }
    .E {
        background-color: paleturquoise;
        padding: 60px 0px;
        margin-left: -21px;
        margin-right: -208px; 
        margin-top: -1px;
    }
    .E h1 {
        margin-left: 66px;
    }
    .H {
        background-color: blanchedalmond;
        padding: 10px 37px;
        margin-top: -5px;
        width: 508px;
    }
    .H h4 {
        margin-left: 205px;
        margin-top: 16px;
        font-size: 14px;
    }
    .H i {
        background-color: white;
        padding: 10px;
        border-radius: 53px;
        margin-left: 208px;
        padding-top: 8px;
    }
    .G h1 {
        margin-top: -34px;
        margin-left: 156px;
        font-size: 18px;
    }
    .G button {
        background-color: black;
        color: white;
        margin-left: 160px;
        margin-top: 9px;
        font-size: 10px;
        margin-bottom: 49px;
    }
    .N p {
        margin-left: 39px;
        margin-right: -155px; 
        font-size: 15px;
        margin-top: 17px;
        text-align: justify;
    }
    .I h1 {
        margin-left: 81px;
        font-size: 22px;
    }
    .section {
        margin-left: 59px;
        margin-right: -104px;
    }
    .I h1 {
        margin-left: 102px;
        font-size: 19px;
        margin-top: 1px;
        padding: 14px;
    }
    .J h4 {
        margin-left: 40px;
        font-size: 16px;
        margin-top: 10px;
    }
    .watch {
        background-color: orangered;
        margin-top: 337px;
        padding: 60px 0px;
        width: 477px;
    }
    .watch img {
        margin-left: 114px;
        margin-top: -75px;
        margin-bottom: -101px;
        height: 110px;
        width: 73px;
    }
    .navbar-toggler i {
        margin-left: 20px;
        color: black;
        font-size: 20px;
    }
    .navbar-toggler i {
        font-size: 20px;
        margin-left: 306px;
        color: black;
    }
    .Mal {
        margin-right: -81px;
    }
    .k img {
        position: absolute;
        margin-top: 0px;
        margin-left: -70px;
        width: 145%;
        height: 60%;
    }
    watch {
        background-color: orangered;
        margin-top: 337px;
        padding: 60px 0px;
        width: 472px;
    }
    .watch img {
        margin-left: 197px;
        margin-top: -19px;
        margin-bottom: -101px;
        height: 148px;
        width: 93px;
    }
    .watch h1 {
        text-align: center;
        margin-left: -283px;
        margin-bottom: -80px;
        margin-top: -16px;
        font-size: 17px;
    }
    .T {
        background-color: grey;
        padding: 60px 0px;
        margin-top: 47px;
        color: white;
        width: 509px;
    }
    .T p {
        margin-left: 92px;
        text-align: justify;
        font-size: 17px;
        margin-right: 62px;
    }
    .T h1 {
        margin-top: -51px;
        margin-left: 145px;
    }
    .T h4 {
        margin-left: 92px;
        margin-top: 20px;
        font-size: 15px;
        margin-top: 26px;
    }
    .All1 img {
        margin-top: 419px;
        margin-left: 86px;
        width: 106%;
    }
    .All2 img {
        margin-top: -2px;
        margin-left: 86px;
        width: 106%;
    }
    .All3 img {
        margin-top: -2px;
        margin-left: 86px;
        width: 106%;
    }
    .All4 img {
        margin-top: -2px;
        margin-left: 86px;
        width: 106%;
    }
    .All1 h4 {
        font-size: 20px;
        margin-left: 78px;
        margin-right: -1px;
        font-size: 18px;
    }
    .All2 h4 {
        font-size: 40px;
        margin-left: 78px;
        margin-right: -1px;
        font-size: 18px;
    }
    .All3 h4 {
        font-size: 40px;
        margin-left: 78px;
        margin-right: -1px;
        font-size: 18px;
    }
    .All4 h4 {
        font-size: 40px;
        margin-left: 78px;
        margin-right: -1px;
        font-size: 18px;
    }
    .At {
        background-color: orangered;
        color: white;
        margin-top: 23px;
        padding: 30px 0px;
        width: 487px;
    }
    .At p {
        text-align: justify;
        margin-left: 83px;
        font-size: 16px;
        margin-right: 57px;
        margin-bottom: 48px
    }
    .All1 p {
        margin-left: 80px;
        margin-right: -144px;
        font-size: 22px;
    }
    .All2 p {
        margin-left: 80px;
        margin-right: -144px;
        font-size: 22px;
    }
    .All3 p {
        margin-left: 80px;
        margin-right: -144px;
        font-size: 22px;
    }
    .All4 p {
        margin-left: 80px;
        margin-right: -144px;
        font-size: 22px;
    }
    .At button {
        margin-left: 183px;
        background-color: black;
        color: white;
    }
    .s img {
        position: absolute;
        margin-top: 810px;
        width: 171%;
        height: 60%;
        margin-left: -13px;
    }
    .Thanks {
        padding: 30px 0px;
        margin-left: -7px;
        margin-right: -198px; 
    }
    .Thanks p {
        margin-top: 28px;
        margin-left: 39px;
        text-align: justify;
        font-size: 14px;
    }
    .last {
        text-align: center;
        background-color: gray;
        color: white;
        width: 510px;
    }
}
 @media only screen and (min-width:480px) and (max-width:575.98px) 
{    
    .logo img {
        width: 52%;
        margin-left: 35px;
        margin-right: -173px;
    }
    .Mal {
        background-color: gray;
        margin-left: -70px;
        color: white;
        width: 940px;
    }
    .navbar-toggler {
        color: black;
        font-size: 30px;
        width: 119px;
    }
    .B {
        width: 953px;
    }
    .B h1 {
        font-size: 38px;
        margin-left: 13px;
        text-align: center;
    }
    .B p {
        margin-top: 23px;
        font-size: 19px;
        text-align: justify;
        margin-left: 66px;
        margin-right: 31px;
    }
    .B button {
        color: white;
        background-color: orangered;
        border: none;
        padding: 13px;
        margin-left: 412px;
        margin-top: 15px;
        font-size: 17px;
    }
    .E {
        background-color: paleturquoise;
        padding: 60px 0px;
        margin-top: -1px;
        font-size: 18px;
        width: 963px;
    }
    .E button {
        background-color: orangered;
        border: none;
        color: white;
        padding: 13px;
        margin-left: 78px;
        margin-top: 10px;
    }
    .E p {
        margin-left: 74px;
        margin-right: 123px;
        text-align: justify;
        font-size: 20px;
        margin-top: 25px;
    }
    .G h1 {
        margin-top: -34px;
        margin-left: 314px;
        font-size: 39px;
        margin-right: -122px;
    }
    .G button {
        background-color: black;
        color: white;
        margin-left: 339px;
        margin-top: 9px;
        font-size: 19px;
        margin-bottom: 49px;
        padding: 13px 9px;
        margin-top: 23px;
    }
    .H {
        background-color: blanchedalmond;
        width: 992px;
    }
    .H i {
        background-color: white;
        padding: 21px;
        border-radius: 133px;
        margin-left: 420px;
        font-size: 36px;
    }
    .H h4 {
        margin-left: 416px;
        font-size: 34px;
        margin-bottom: 77px;
        margin-top: 30px;
    }
    .N p {
        margin-left: 65px;
        margin-right: -443px;
        font-size: 22px;
        margin-top: 17px;
        text-align: justify;
    }
    .k img {
        position: absolute;
        margin-top: 0px;
        width: 137%;
        height: 66%;
    }
    .section {
        width: 706px;
    }
    .I h1 {
        margin-left: 251px;
        font-size: 36px;
        margin-top: 20px;
        padding: 14px;
    }
    .J h4 {
        margin-left: 72px;
        font-size: 25px;
        margin-top: 10px;
    }
    .J p {
        margin-left: 71px;
        text-align: justify;
        font-size: 26px;
        margin-right: 85px;
    }
    .watch {
        background-color: orangered;
        margin-top: 500px;
        width: 960px;
    }
    .watch img {
        margin-left: 415px;
        margin-top: -37px;
        margin-bottom: -101px;
        height: 170px;
        width: 171px;
    }
    .watch h1 {
        text-align: center;
        margin-left: -283px;
        margin-bottom: -80px;
        margin-top: -26px;
        font-size: 25px;
    }
    .T {
        background-color: grey;
        padding: 60px 0px;
        margin-top: 47px;
        color: white;
        width: 969px;
    }
    .T h1 {
        margin-top: -28px;
        margin-left: 346px;
        font-size: 34px;
    }
    .T h4 {
        margin-left: 92px;
        font-size: 28px;
        margin-top: 35px;
    }
    .T p {
        margin-left: 92px;
        text-align: justify;
        font-size: 20px;
        margin-right: 62px;
    }
    .s img {
        position: absolute;
        margin-top: 785px;
        width: 195%;
        height: 60%;
        margin-left: -13px;
    }
    .All1 img {
        margin-top: 419px;
        margin-left: 159px;
        width: 110%;
    }
    .All2 img {
        margin-top: -7px;
        margin-left: 159px;
        width: 110%;
    }
    .All3 img {
        margin-top: -7px;
        margin-left: 159px;
        width: 110%;
    }
    .All4 img {
        margin-top: -7px;
        margin-left: 159px;
        width: 110%;
    }
    .All1 h4 {
        font-size: 20px;
        margin-left: 237px;
        font-size: 33px;
        margin-right: -233px;
    }
    .All2 h4 {
        font-size: 20px;
        margin-left: 237px;
        font-size: 33px;
        margin-right: -233px;
    }
    .All3 h4 {
        font-size: 20px;
        margin-left: 237px;
        font-size: 33px;
        margin-right: -233px;
    }
    .All4 h4 {
        font-size: 20px;
        margin-left: 237px;
        font-size: 33px;
        margin-right: -233px;
    }
    .All1 p {
        margin-left: 103px;
        margin-right: -394px;
        font-size: 35px;
        margin-top: 19px;
    }
    .All2 p {
        margin-left: 103px;
        margin-right: -394px;
        font-size: 35px;
        margin-top: 19px;
    }
    .All3 p {
        margin-left: 103px;
        margin-right: -394px;
        font-size: 35px;
        margin-top: 19px;
    }
    .All4 p {
        margin-left: 103px;
        margin-right: -394px;
        font-size: 35px;
        margin-top: 19px;
    }
    .At {
        background-color: orangered;
        color: white;
        margin-top: 23px;
        padding: 30px 0px;
        width: 944px;
    }
    .At h1 {
        margin-top: -2px;
        padding: 49px;
        font-size: 42px;
        text-align: center;
    }
    .At h6 {
        text-align: center;
        font-size: 39px;
        margin-top: -24px;
    }
    .At p {
        text-align: justify;
        margin-left: 83px;
        font-size: 27px;
        margin-right: 57px;
        margin-bottom: 48px;
    }
    .At button {
        margin-left: 353px;
        background-color: black;
        color: white;
        font-size: 25px;
    }
    .Thanks {
        width: 945px;
    }
    .Thanks h1 {
        font-size: 46px;
    }
    .Thanks h4 {
        font-size: 32px;
    }
    .Thanks p {
        margin-top: 28px;
        margin-left: 78px;
        text-align: justify;
        font-size: 22px;
        margin-right: 57px;
    }
    .icon p {
        margin-top: 12px;
        font-size: 32px;
        margin-left: 20px;
    }
    .iconbox i {
        background-color: orangered;
        height: 30px;
        width: 30px;
        padding: 16px;
        border-radius: 97px;
        color: white;
        font-size: 40px;
        margin-left: 97px;
    }
    .pull h4 {
        font-size: 38px;
        margin-left: 74px;
        margin-top: 10px;
    }
    .form {
        font-size: 35px;
        margin-left: 45px;
        margin-top: 30px;
    }
    input[type="text"] {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid black;
        margin-left: 130px;
        width: 537px;
        margin-top: -69px;
    }
    input[type="content"] {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid black;
        margin-left: 120px;
        width: 530px;
        padding-bottom: 47px;
        margin-top: -69px;
    }
    button {
        background-color: orangered;
        color: white;
        border: none;
        padding: 6px;
        margin-left: 176px;
    }
    .last {
        text-align: center;
        background-color: gray;
        color: white;
        width: 1004px;
    }
    .last p {
        padding: 10px;
        margin-bottom: 7px;
        font-size: 28px;
    }
    .last h6 {
        font-weight: normal;
        padding: -6px;
        font-size: 26px;
    }
    .Mal {
        background-color: gray;
        margin-left: -70px;
        color: white;
        width: 955px;
    }
    .D img {
        width: 223%;
        height: 431px;
        margin-top: -60px;
    }
}

 @media only screen and (min-width:576px) and (max-width:767.98px) 
 {
    .B {
        background-image: url(./images/img\ 1.jpeg);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 2309px;
    }
    .B p {
        margin-top: 54px;
        font-size: 55px;
        margin-left: -561px;
        margin-right: -551px;
        text-align: justify;
    }
    .E {
        background-color: paleturquoise;
        margin-left: 758px;
        margin-right: -279px;
        margin-top: -1623px;
        width: 1522px;
    }
    .E h1 {
        margin-left: 102px;
        font-size: 70px;
    }
    .E p {
        margin-left: 119px;
        margin-right: 164px;
        text-align: justify;
        margin-top: 48px;
        font-size: 50px;
    }
    .D img {
        width: 161%;
        height: 1621px;
        margin-top: -60px;
        margin-left: -71px;
    }
    .E button {
        background-color: orangered;
        border: none;
        color: white;
        padding: 32px;
        margin-left: 127px;
        font-size: 47px;
        margin-top: 40px;
    }
    .B button {
        color: white;
        background-color: orangered;
        border: none;
        padding: 15px;
        font-size: 51px;
        margin-top: 53px;
    }
    .G h1 {
        margin-top: 26px;
        margin-left: 952px;
        font-size: 85px;
    }
    .H {
        background-color: blanchedalmond;
        margin-right: -69px;
        padding: 10px 37px;
        margin-left: -45px;
        margin-top: 230px;
    }
    .G button {
        background-color: black;
        color: white;
        font-size: 46px;
        margin-left: 991px;
        margin-right: 195px;
        margin-top: 60px;
        padding: 11px 84px;
        margin-bottom: 81px;
    }
    .H {
        background-color: blanchedalmond;
        margin-right: -69px;
        padding: 10px 37px;
        margin-left: -45px;
        margin-top: -3px;
        width: 2320px;
    }
    .H h4 {
        margin-top: 43px;
        font-size: 80px;
        text-align: center;
    }
    .H i {
        background-color: white;
        padding: 27px;
        border-radius: 85px;
        margin-left: 1055px;
        padding-top: 8px;
        font-size: 97px;
        margin-top: 126px;
    }
    .N p {
        font-size: 54px;
        margin-right: -1574px;
        margin-left: 169px;
        margin-top: 50px;
    }
    .k img {
        position: absolute;
        margin-top: -1517px;
        width: 160%;
        height: 93%;
        margin-left: 1362px;
    }
    .Mal {
        width: 1434px;
        margin-top: 121px;
    }
    .I h1 {
        margin-left: 336px;
        font-size: 71px;
        padding: 31px;
    }
    .J h4 {
        margin-left: 139px;
        font-size: 40px;
        margin-top: 28px;
    }
    .J p {
        margin-left: 132px;
        text-align: justify;
        font-size: 46px;
        margin-right: 48px;
        margin-top: 20px;
    }
    .watch {
        width: 2307px;
        height: 205px;
    }
    .watch img {
        margin-left: 1089px;
        margin-top: -128px;
        margin-bottom: -101px;
        height: 289px;
        width: 293px;
    }
    .watch h1 {
        font-size: 71px;
    }
    .s img {
        position: absolute;
        margin-top: 50px;
        width: 142%;
        height: 97%;
        margin-left: 1457px;
    }
    .T {
        background-color: grey;
        margin-left: -43px;
        padding: 60px 0px;
        margin-top: 47px;
        margin-right: -69px;
        color: white;
        width: 1500px;
    }
    .T h1 {
        margin-top: -23px;
        margin-left: 353px;
        font-size: 71px;
    }
    .T h4 {
        margin-left: 133px;
        margin-top: 47px;
        font-size: 40px;
    }
    .T p {
        margin-left: 130px;
        font-size: 41px;
        margin-top: 20px;
        margin-right: 39px;
        text-align: justify;
    }
    .All1 img {
        margin-top: 8px;
        width: 666px;
    }
    .All2 img {
        margin-top: 8px;
        width: 666px;
    }
    .All3 img {
        margin-top: -2908px;
        width: 666px;
        margin-left: 1296px;
    }
    .All4 img {
        margin-top: 8px;
        width: 666px;
    }
    .All1 h4 {
        font-size: 44px;
        margin-left: 73px;
    }
    .All2 h4 {
        font-size: 44px;
        margin-left: 73px;
    }
    .All3 h4 {
        font-size: 43px;
        margin-top: -1171px;
        margin-left: 1196px;
        margin-right: 50px;
    }
    .All1 p {
        font-size: 36px;
        margin-left: 70px;
        margin-top: 35px;
    }
    .All2 p {
        font-size: 36px;
        margin-left: 70px;
        margin-top: 35px;
    }
    .At {
        background-color: orangered;
        color: white;
        margin-top: 37px;
        padding: 60px 0px;
        width: 2301px;
        margin-left: -25px;
    }
    .At h1 {
        text-align: center;
        margin-top: -2px;
        padding: 49px;
        font-size: 59px;
    }
    .At h6 {
        text-align: center;
        font-size: 38px;
        margin-top: 3px;
    }
    .At p {
        text-align: justify;
        margin-left: 177px;
        font-size: 32px;
        margin-right: 58px;
        margin-bottom: 48px;
        margin-top: 41px;
    }
    .At button {
        margin-left: 1037px;
        background-color: black;
        color: white;
        font-size: 48px;
        margin-top: 20px;
    }
    .Thanks {
        text-align: center;
        background-image: url(./images/img\ 1.jpeg);
        color: white;
        margin-bottom: 40px;
        background-size: cover;
        background-position: center;
        margin-top: -72px;
        width: 2310px;
    }
    .Thanks h1 {
        font-size: 85px;
    }
    .Thanks h4 {
        font-size: 56px;
        margin-top: 30px;
    }
    .Thanks p {
        margin-top: 38px;
        font-size: 45px;
        text-align: justify;
        margin-left: -578px;
        margin-right: -631px;
    }
    .iconbox i {
        background-color: orangered;
        height: 30px;
        width: 30px;
        padding: 11px;
        border-radius: 199px;
        color: white;
        font-size: 94px;
        margin-top: 79px;
        margin-left: 71px;
    }
    .box p {
        font-size: 60px;
        margin-left: 40px;
    }
    .form {
        margin-top: -1197px;
        margin-left: 1267px;
        font-size: 48px;
    }
    .icon {
        display: flex;
        padding: 99px;
    }
    input[type="text"] {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid black;
        margin-left: 26px;
        width: 811px;
    }
    input[type="content"] {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid black;
        margin-left: 24px;
        width: 830px;
        padding-bottom: 47px;
    }
    button {
        background-color: orangered;
        color: white;
        border: none;
        padding: -20px 66px;
        margin-left: 9px;
    }
    .last {
        text-align: center;
        background-color: gray;
        margin-left: -36px;
        margin-top: 19px;
        color: white;
        width: 2352px;
    }
    .last h6 {
        font-weight: normal;
        padding: -6px;
        font-size: 50px;
    }
    .last p {
        padding: -8px;
        margin-bottom: 7px;
        font-size: 70px;
        margin-top: 74px;
    }
    .navbar-toggler i {
        font-size: 100px;
        color: black;
        margin-left: 20px;
    }
    .logo img {
        width: 50%;
    }
}
    @media only screen and (min-width:768px) and (max-width:1199.98px) {
    .B {
        background-image: url(./images/img\ 1.jpeg);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 934px;
    }
    .B h1 {
        font-size: 54px;
        margin-left: 4px;
    }
    .B p {
        margin-top: 17px;
        text-align: justify;
        font-size: 17px;
    }
    .B button {
        color: white;
        background-color: orangered;
        border: none;
        padding: 11px;
        margin-left: 300px;
        margin-top: 10px;
    }
    .E {
        background-color: paleturquoise;
        padding: 60px 0px;
        margin-left: -45px;
        margin-right: -70px;
        margin-top: -32px;
        width: 705px;
        margin-bottom: -47px;
    }
    .D img {
        width: 124%;
        height: 524px;
        margin-top: -60px;
        margin-left: -71px;
    }
    .H {
        background-color: blanchedalmond;
        margin-right: -69px;
        padding: 10px 37px;
        margin-left: 281px;
        margin-top: -97px;
        width: 617px;
        margin-bottom: 68px;
    }
    .H h4 {
        margin-left: 259px;
        margin-top: 12px;
        font-size: 11px;
        padding: 8px;
    }
    .H i {
        background-color: white;
        padding: 10px;
        border-radius: 53px;
        margin-left: 268px;
        padding-top: 8px;
        font-size: 11px;
    }
    .G h1 {
        margin-top: -23px;
        font-size: 20px;
        margin-left: -5px;
    }
    .G button {
        background-color: black;
        color: white;
        font-size: 10px;
    }
    .N p {
        font-size: 19px;
        margin-left: 45px;
        margin-top: -8px;
        margin-right: -199px;
        padding: 9px;
    }
    .I h1 {
        margin-left: 240px;
    }
    .J h4 {
        margin-left: 76px;
        margin-top: 17px;
    }
    .J p {
        margin-left: 75px;
        text-align: justify;
        font-size: 19px;
        margin-right: 48px;
    }
    .k img {
        position: absolute;
        margin-top: -588px;
        width: 28%;
        height: 100%;
        margin-left: 696px;
    }
    .watch {
        background-color: orangered;
        margin-top: 51px;
        padding: 60px 0px;
        width: 948px;
    }
    .watch img {
        margin-left: 435px;
        margin-top: -42px;
        margin-bottom: -101px;
        height: 205px;
        width: 127px;
    }
    .T {
        background-color: grey;
        margin-left: -70px;
        padding: 60px 0px;
        margin-top: 47px;
        margin-right: 118px;
        color: white;
    }
    .s img {
        position: absolute;
        margin-top: 46px;
        width: 45%;
        height: 93%;
        margin-left: 575px;
    }
    .At {
        background-color: orangered;
        margin-left: 386px;
        margin-right: -217px;
        color: white;
        margin-top: -637px;
    }
    .At p {
        text-align: justify;
        margin-left: 146px;
        font-size: 12px;
        margin-right: 143px;
        margin-bottom: 48px;
    }
    .At button {
        margin-left: 202px;
        background-color: black;
        color: white;
        margin-top: -21px;
    }
    .Thanks {
        text-align: center;
        background-image: url(./images/img\ 1.jpeg);
        color: white;
        margin-bottom: 40px;
        padding: 20px;
        background-size: cover;
        background-position: center;
        margin-top: -72px;
        margin-left: 2px;
        margin-right: -189px;
    }
    .form {
        margin-top: -301px;
        margin-left: 455px;
    }
    .last {
        text-align: center;
        background-color: gray;
        margin-left: -1px;
        margin-top: 19px;
        color: white;
        margin-right: -189px;
    }
    .navbar-toggler i {
        font-size: 80px;
        color: black;
        margin-left: 20px;
    }
}
        
        
       

    